<section class="cooperation-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="text-center wrap-coop">
                    <img src="img/logo-01.png" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center wrap-coop">
                    <img src="img/logo-02.png" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center wrap-coop">
                    <img src="img/logo-03.png" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center wrap-coop">
                    <img src="img/logo-04.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>