<section class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                   <span class="footer-txt-one">
                       Copyright © 2015 <span class="footer-txt-two">Waxom</span> |
                   </span>
                    <span class="footer-txt-one">
                        Privacy Policy |
                    </span>
                    <span class="footer-txt-three">
                        FAQ
                    </span>
                    <span class="footer-txt-one">
                        | Support |
                    </span>
                </div>
            </div>


        </div>
    </div>
</section>