<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                   <span class="">
                       Copyright © 2015 Waxom |
                   </span>
                    <span>
                        Privacy Policy |
                    </span>
                    <span>
                        FAQ |
                    </span>
                    <span>
                        Support |
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <span>
                        Designed by ThemeFire   |
                    </span>
                    <span>
                         Only on Envato Market
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>