<link rel="stylesheet" href="../../../../../../Downloads/transfonter.org-20190103-183844/stylesheet.css">
<section>
    <div>
        <div>
            <div class="slider-main">
                <div class="slide-one"></div>
                <div class="slide-two"></div>
                <div class="slide-three"></div>
            </div>
            <div class="arrows-main">
                <div class="prev">
                    <img src="img/prev.png" alt="">
                </div>
                <div class="next">
                    <img src="img/prev.png" alt="">
                </div>
            </div>
        </div>
        <div class="header-inside">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-main navbar-dark">
                    <a class="navbar-brand" href="#">
                        <img src="img/logo.png" alt="logo">
                        <!--<span class="">-->
                        <!--Waxom-->
                        <!--</span>-->
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse nav-right" id="navbarNavAltMarkup">
                        <div class="navbar-nav navbar-mobile">
                            <a class="nav-item nav-link " href="#">Home</a>
                            <a class="nav-item nav-link" href="#">About Us</a>
                            <a class="nav-item nav-link" href="#">Portfolio</a>
                            <a class="nav-item nav-link " href="#">Features</a>
                            <a class="nav-item nav-link " href="#">Blog</a>
                            <a class="nav-item nav-link " href="#">Pricing</a>
                            <a class="nav-item nav-link " href="#">Shortcodes</a>
                            <a class="nav-item nav-link " href="#">Contact</a>
                            <a class="nav-item nav-link cart-top" href="#">
                                <img src="img/cart.svg" alt="cart">
                            </a>
                            <a class="nav-item nav-link " href="#">
                                <img src="img/search.svg" alt="cart">
                            </a>

                        </div>
                    </div>
                </nav>

            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrap-slider-txt">
                            <h3 class="unique-txt">
                                Unique and Modern Design
                            </h3>
                            <h1 class="portfolio-text">
                                Portfolio PSD Template
                            </h1>
                            <span class="nam-txt">
                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
                            </span>
                            <div class="btn-main-wrap">
                                <button class="btn btn-main">
                                    Get Started
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>