<section class="info-section">
    <div class="container">
        <div class="row ">
            <div class="col-md-3">
                <div>
                    <div class="info-logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <div>
                        <span class="info-txt">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
                        </span>
                    </div>
                    <div>
                        <a class="mr-1 info-r-more" href="#">Read More</a>
                        <img src="img/arrow-info.png" alt="arrow">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <span class="info-title">
                        Recent Post
                    </span>
                </div>
                <div>
                    <span class="info-date">
                        Semptember 08, 2015
                    </span>
                    <span class="info-txt mb-3">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </span>

                </div>
                <div>
                    <span class="info-date">
                        September 08, 2015
                    </span>
                    <span class="info-txt mb-3">
                        Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    </span>
                </div>
                <div>
                    <span class="info-date">
                        September 08, 2015
                    </span>
                    <span class="info-txt mb-3">
                        Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <span class="info-title">
                        Our Twitter
                    </span>
                </div>
                <div>
                    <span class="info-txt mb-1">
                        <span class="info-media-msg">
                            @waxom
                        </span>
                        Cum soluta nobis eleifend option congue nihil imperdiet doming
                    </span>
                    <span class="info-date">
                        3 mins ago
                    </span>
                </div>
                <div>
                    <span class="info-txt mb-1">
                        Mirum est #envato notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
                    </span>
                    <span class="info-date">
                        3 mins ago
                    </span>
                </div>
                <div>
                    <span class="info-txt mb-1">
                        Soluta nobis option bit.ly/1Hniso7
                    </span>
                    <span class="info-date">
                        3 mins ago
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <span class="info-title">
                        Dribbble Widget
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <img src="img/mob-gal.jpg" alt="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="img/pocket.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="img/book-gal.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="img/icons.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>