<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <div>
                        <img src="img/logo.svg" alt="">
                        <span>Waxom</span>
                    </div>
                    <div>
                        <span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
                        </span>
                    </div>
                    <div>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <span>
                        Recent Post
                    </span>
                </div>
                <div>
                    <span class="d-block">
                        Semptember 08, 2015
                    </span>
                    <span class="d-block">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </span>

                </div>
                <div>
                    <span class="d-block">
                        September 08, 2015
                    </span>
                    <span class="d-block">
                        Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    </span>
                </div>
                <div>
                    <span class="d-block">
                        September 08, 2015
                    </span>
                    <span class="d-block">
                        Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <span class="d-block">
                        Our Twitter
                    </span>
                </div>
                <div>
                    <span class="d-block">
                        @waxom Cum soluta nobis eleifend option congue nihil imperdiet doming
                    </span>
                    <span class="d-block">
                        3 mins ago
                    </span>
                </div>
                <div>
                    <span class="d-block">
                        Mirum est #envato notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
                    </span>
                    <span class="d-block">
                        3 mins ago
                    </span>
                </div>
                <div>
                    <span class="d-block">
                        Soluta nobis option bit.ly/1Hniso7
                    </span>
                    <span class="d-block">
                        3 mins ago
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <span>
                        Dribbble Widget
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/mob-gal.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="img/pocket.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="img/book-gal.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="img/icons.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>