<section class="marketing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="marketing-block">
                    <div class="marketing-img">
                        <img src="img/pencil.svg" alt="pencil">
                    </div>
                    <div>
                        <span class="marketing-title">
                            Web & App Design
                        </span>
                    </div>
                    <div>
                        <span class="marketing-txt">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                    <div class="marketing-divider"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="marketing-block">
                    <div class="marketing-img-second">
                        <img src="img/cards.svg" alt="cards">
                    </div>
                    <div>
                        <span class="marketing-title">
                            Development
                        </span>
                    </div>
                    <div>
                        <span class="marketing-txt">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                    <div class="marketing-divider"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="marketing-block">
                    <div class="marketing-img-third">
                        <img src="img/gear.svg" alt="gear">
                    </div>
                    <div>
                        <span class="marketing-title">
                            Customization
                        </span>
                    </div>
                    <div>
                        <span class="marketing-txt">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                    <div class="marketing-divider"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="marketing-block">
                    <div class="marketing-img-four">
                        <img src="img/folder.svg" alt="gear">
                    </div>
                    <div>
                        <span class="marketing-title">
                            Marketing
                        </span>
                    </div>
                    <div>
                        <span class="marketing-txt">
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                    <div class="marketing-divider"></div>
                </div>
            </div>
        </div>
    </div>
</section>