<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <div>
                        <img src="img/pencil.svg" alt="pencil">
                    </div>
                    <div>
                        <span>
                            Web & App Design
                        </span>
                    </div>
                    <div>
                        <span>
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div>
                        <img src="img/cards.svg" alt="pencil">
                    </div>
                    <div>
                        <span>
                           Development
                        </span>
                    </div>
                    <div>
                        <span>
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div>
                        <img src="img/gear.svg" alt="gear">
                    </div>
                    <div>
                        <span>
                            Customization
                        </span>
                    </div>
                    <div>
                        <span>
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div>
                        <img src="img/folder.svg" alt="pencil">
                    </div>
                    <div>
                        <span>
                            Marketing
                        </span>
                    </div>
                    <div>
                        <span>
                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>