<section class="mobile-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <img src="img/iPhone_in_hand.png" class="img-fluid" alt="iphone">
                </div>
            </div>
            <div class="col-md-7">
                <div>
                    <h3 class="title-mobile">
                        Excellent for Mobile Devices.
                    </h3>
                </div>
                <div>
                    <span class="subtitle-mobile">
                        Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                    </span>
                </div>
                <div class="wrap-mobile-txt">
                    <div class="mobile-item-block">
                        <img src="img/arrow-mobile.png" alt="arrow">
                        <span class="txt-item-mobile">
                            Nam liber tempor cum soluta nobis eleifend option;
                        </span>
                    </div>
                    <div class="mobile-item-block">
                        <img src="img/arrow-mobile.png" alt="arrow">
                        <span class="txt-item-mobile">
                            Option congue nihil imperdiet doming id quod mazim placerat facer;
                        </span>
                    </div>
                    <div class="mobile-item-block">
                        <img src="img/arrow-mobile.png" alt="arrow">
                        <span class="txt-item-mobile">
                            Eodem modo typi, qui nunc nobis videntur parum futurum;
                        </span>
                    </div>
                    <div class="mobile-item-block">
                        <img src="img/arrow-mobile.png" alt="arrow">
                        <span class="txt-item-mobile">
                            Investigationes demonstraverunt lectores
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>