<section class="posts-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <span class="realization-title d-block">
                        Recent Posts.
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div class="realization-txt">
                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam
                    processus dynamicus, qui sequitur mutationem consuetudium.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="posts-card">
                    <div>
                        <img src="img/legs.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="posts-card-bot">
                        <div>
                            <span class="posts-card-title">
                                Lorem ipsum dolor sit amet
                            </span>
                        </div>
                        <div>
                            <span class="posts-card-subtitle">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                            </span>
                        </div>
                        <div>
                            <a class="posts-card-r-more mr-1" href="#">Read More</a>
                            <img src="img/caret-r.png" alt="caret">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="posts-card">
                    <div>
                        <img src="img/notebook.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="posts-card-bot">
                        <div>
                            <span class="posts-card-title">
                                Lorem ipsum dolor sit amet
                            </span>
                        </div>
                        <div>
                            <span class="posts-card-subtitle">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                            </span>
                        </div>
                        <div>
                            <a class="posts-card-r-more mr-1" href="#">Read More</a>
                            <img src="img/caret-r.png" alt="caret">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="posts-card">
                    <div>
                        <img src="img/ship.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="posts-card-bot">
                        <div>
                            <span class="posts-card-title">
                                Lorem ipsum dolor sit amet
                            </span>
                        </div>
                        <div>
                            <span class="posts-card-subtitle">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                            </span>
                        </div>
                        <div>
                            <a class="posts-card-r-more mr-1" href="#">Read More</a>
                            <img src="img/caret-r.png" alt="caret">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>