<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <span>
                        Recent Posts.
                    </span>
                </div>
            </div>
            <div class="col-12">
                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/legs.jpg" alt="">
                    </div>
                    <div>
                        <span>
                          Lorem ipsum dolor sit amet
                        </span>
                    </div>
                    <div>
                        <span>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        </span>
                    </div>
                    <div>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/notebook.jpg" alt="">
                    </div>
                    <div>
                        <span>
                            Lorem ipsum dolor sit amet
                        </span>
                    </div>
                    <div>
                        <span>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        </span>
                    </div>
                    <div>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/ship.jpg" alt="">
                    </div>
                    <div>
                        <span>
                            Lorem ipsum dolor sit amet
                        </span>
                    </div>
                    <div>
                        <span>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        </span>
                    </div>
                    <div>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>