<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <img src="img/play.svg" alt="play">
                </div>
            </div>
            <div class="col-12">
                <span>
                    Waxom Video Presentation
                </span>
            </div>
            <div class="col-12">
                <span>
                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
                </span>
            </div>
            <div>
                <div class="col-12">
                    03:26
                </div>
            </div>
        </div>
    </div>
</section>