<section class="projects-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h1 class="realization-title">
                        Our Latest Projects.
                    </h1>
                </div>
                <div>
                    <span class="realization-txt">
                        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div class="projects-btn-wrap">
                    <button class="btn btn-brown">All</button>
                    <button class="btn btn-brown">Web Design</button>
                    <button class="btn btn-brown">Mobile App</button>
                    <button class="btn btn-brown">Illustration</button>
                    <button class="btn btn-brown">Photography</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="projects-card">
                    <div>
                        <img src="img/hand-mob.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="projects-txt-wrap">
                        <span class="projects-card-title">
                           Claritas Etiam Processus
                        </span>
                            <span class="projects-card-subtitle">
                            Photography, Nature
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="projects-card">
                    <div>
                        <img src="img/mountain.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="projects-txt-wrap">
                        <span class="projects-card-title">
                           Quam Nutamus Farum
                        </span>
                        <span class="projects-card-subtitle">
                            Graphic Design, Mock-Up
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="projects-card">
                    <div>
                        <img src="img/book.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="projects-txt-wrap">
                        <span class="projects-card-title">
                           Claritas Etiam Processus
                        </span>
                        <span class="projects-card-subtitle">
                            Photography, Holiday
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="projects-card">
                    <div>
                        <img src="img/bird.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="projects-txt-wrap">
                        <span class="projects-card-title">
                           Claritas Etiam Processus
                        </span>
                        <span class="projects-card-subtitle">
                            Photography, Nature
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="projects-card">
                    <div>
                        <img src="img/book2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="projects-txt-wrap">
                        <span class="projects-card-title">
                           Quam Nutamus Farum
                        </span>
                        <span class="projects-card-subtitle">
                            Photography, Nature
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="projects-card">
                    <div>
                        <img src="img/water.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="projects-txt-wrap">
                        <span class="projects-card-title">
                           Usus Legentis Videntur
                        </span>
                        <span class="projects-card-subtitle">
                            Photography, Nature
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="wrap-load-more">
                    <button class="btn btn-main">Load More</button>
                </div>

            </div>
        </div>
    </div>

</section>