<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h1>
                        Our Latest Projects.
                    </h1>
                </div>
                <div>
                    <span>
                        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <button class="btn btn-dark">All</button>
                    <button class="btn btn-dark">Web Design</button>
                    <button class="btn btn-dark">Mobile App</button>
                    <button class="btn btn-dark">Illustration</button>
                    <button class="btn btn-dark">Photography</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/hand-mob.jpg" alt="">
                    </div>
                    <div>
                    <span class="d-block">
                       Claritas Etiam Processus
                    </span>
                        <span>
                        Photography, Nature
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/mountain.jpg" alt="">
                    </div>
                    <div>
                    <span class="d-block">
                        Quam Nutamus Farum
                    </span>
                        <span>
                        Graphic Design, Mock-Up
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/book.jpg" alt="">
                    </div>
                    <div>
                    <span class="d-block">
                        Usus Legentis Videntur
                    </span>
                        <span>
                        Photography, Holiday
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/bird.jpg" alt="">
                    </div>
                    <div>
                    <span class="d-block">
                        Claritas Etiam Processus
                    </span>
                        <span>
                        Photography, Nature
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/book2.jpg" alt="">
                    </div>
                    <div>
                    <span class="d-block">
                        Quam Nutamus Farum
                    </span>
                        <span>
                       Graphic Design, Mock-Up
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img src="img/koral.jpg" alt="">
                    </div>
                    <div>
                    <span class="d-block">
                        Usus Legentis Videntur
                    </span>
                        <span>
                       Photography, Holiday
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-dark">Load More</button>
            </div>
        </div>
    </div>

</section>