<section class="realization-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="realization-title">
                    Waxom is Realization of your Ideas.
                </h1>
            </div>
            <div class="col-12">
                <span class="realization-txt">
                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                </span>
            </div>
            <div class="col-12">
                <div>
                    <img src="img/site.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>