<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <div>
                        <img src="img/users.svg" alt="">
                    </div>
                    <div>
                        <span>
                            3587
                        </span>
                    </div>
                    <div>
                        Satisfied Clients
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>
                        <img src="img/cup.svg" alt="">
                    </div>
                    <div>
                        <span>
                            207
                        </span>
                    </div>
                    <div>
                        Cups of coffee
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>
                        <img src="img/chat.svg" alt="">
                    </div>
                    <div>
                        <span>
                            2500
                        </span>
                    </div>
                    <div>
                        Blog posts
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>
                        <img src="img/heart.svg" alt="">
                    </div>
                    <div>
                        <span>
                            873
                        </span>
                    </div>
                    <div>
                        Likes
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>
                        <img src="img/klashe.svg" alt="">
                    </div>
                    <div>
                        <span>
                            900
                        </span>
                    </div>
                    <div>
                        We launched
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>