<section class="statistic-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="statistic-item">
                    <div class="statistic-img">
                        <img src="img/users.svg" alt="">
                    </div>
                    <div>
                        <span class="statistic-number">
                            3587
                        </span>
                    </div>
                    <div class="statistic-txt">
                        Satisfied Clients
                    </div>
                    <div class="statistic-divider">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="statistic-item">
                    <div class="statistic-img">
                        <img src="img/cup.svg" alt="">
                    </div>
                    <div>
                        <span class="statistic-number">
                            207
                        </span>
                    </div>
                    <div class="statistic-txt">
                        Cups of coffee
                    </div>
                    <div class="statistic-divider">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="statistic-item">
                    <div class="statistic-img">
                        <img src="img/chat.svg" alt="">
                    </div>
                    <div>
                        <span class="statistic-number">
                            2500
                        </span>
                    </div>
                    <div class="statistic-txt">
                        Blog posts
                    </div>
                    <div class="statistic-divider">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="statistic-item">
                    <div class="statistic-img">
                        <img src="img/heart.svg" alt="">
                    </div>
                    <div>
                        <span class="statistic-number">
                            873
                        </span>
                    </div>
                    <div class="statistic-txt">
                        Likes
                    </div>
                    <div class="statistic-divider">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="statistic-item">
                    <div class="statistic-img">
                        <img src="img/klashe.svg" alt="">
                    </div>
                    <div>
                        <span class="statistic-number">
                            900
                        </span>
                    </div>
                    <div class="statistic-txt">
                        We launched
                    </div>
                    <div class="statistic-divider">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>