.section-footer{
  background-color: #111111;
  padding-top: 45px;
  padding-bottom: 52px;
}
.footer-txt-one{
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.footer-txt-two{
  color: #959595;
}
.footer-txt-three{
  color: #c7b299;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}