.marketing-section{
  margin-top: 80px;
  margin-bottom: 80px;
}
.marketing-title{
  color: #555555;
  font-size: 22px;
  font-weight: 500;
  display: block;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 19px;
}
.marketing-block{
  text-align: center;
}
.marketing-img{
  margin-bottom: 29px;
}
.marketing-img-second{
  margin-bottom: 38px;
}
.marketing-img-third{
  margin-bottom: 34px;
}
.marketing-img-four{
  margin-bottom: 42px;
}
.marketing-txt{
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  display: block;
  width: 268px;
}
.marketing-divider{
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
  margin-top: 30px;
}
@include media-breakpoint-between(xs, md) {
  .marketing-txt{
    margin: 0 auto;
  }
  .marketing-block{
    margin-bottom: 25px;
  }
  .marketing-section{
    margin-top: 30px;
    margin-bottom: 30px;
  }

}