.posts-section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.posts-card-bot{
  border: 1px solid #f8f8f8;
  padding: 30px 33px 33px 29px;
}
.posts-card-title{
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-bottom: 19px;
}

.posts-card-subtitle{
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  display: block;
  margin-bottom: 27px;
}
.posts-card-r-more{
  color: #c7b299;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}